<div class="block typeset">

	<div class="layout">

		<div class="col-4">

			<h4>Consider These Facts</h4>
			<ol>
				<li><%= lorem.words 3 %></li>
				<li><%= lorem.words 3 %></li>
				<li><%= lorem.words 5 %></li>
				<li><%= lorem.words 9 %></li>
				<li><%= lorem.words 9 %></li>
				<li><%= lorem.words 14 %></li>
				<li><%= lorem.words 5 %></li>
			</ol>

		</div>			

		<div class="col-8 last">
			
			<h4>And This Great Example</h4>
			<img class="media" src="http://placeimg.com/600/300/tech" alt=" "/>

		</div>
	</div>

</div>