---
title: 3.x - Iconic Blocks
---

<div id="story" class="edit">

	<div class="container">


		
		<%= partial '/blocks/title-12' %>

		<%= partial '/blocks/text-12' %>

		<%= partial '/blocks/text-12-mixed-content' %>

		<%= partial '/blocks/text-12-blockquote' %>

		<%= partial '/blocks/text-6-6' %>

		<%= partial '/blocks/text-8-4' %>

		<%= partial '/blocks/text-4-8' %>

		<%= partial '/blocks/text-4-4-4' %>


		<%= partial '/blocks/element-rule' %>

		<%= partial '/blocks/element-spacer' %>




		<%= partial '/blocks/media-12' %>

		<%= partial '/blocks/media-6-6' %>
		
		<%= partial '/blocks/media-text-6-6' %>
		
		<%= partial '/blocks/text-media-6-6' %>

		<%= partial '/blocks/media-text-8-4' %>

		<%= partial '/blocks/text-media-4-8' %>
	



	</div><!-- /.container -->

</div><!-- /#story -->





