---
title: Block List
layout: blocks
---

	<div class="container">

		<H1>Hello, Blocks!</H1>
		<p>Sample content blocks with layouts and some basic styles.<br /></p>


		<%= partial "blocks/block-title-subtitle" %>
		

		<%= partial "blocks/block-title-subtitle-image" %>
		

		<%= partial "blocks/block-text-heading-paragraph" %>
		

		<%= partial "blocks/block-2col-even-text-heading-paragraph-image" %>


		<%= partial "blocks/block-2col-even-text-heading" %>


		<%= partial "blocks/block-2col-offset-list-heading-image" %>


		<%= partial "blocks/block-1col-text-blockquote" %>
		

		<%= partial "blocks/block-horizontalrule" %>


		<%= partial "blocks/block-spacer" %>




	</div> <!-- ./container -->


